table_detection.pth
__pycache__
cropped
final_images
images
modelOpImage
results
total_invoice
xlsxfile
table_segme(scnet).pth
table_detection.pth
samyak_table.pth
Table_segmentation.pth
latest.pth
samya_new_docs
pdf2png.py
parameters.txt
pytesseract_test.py
preprocess.py
png_images
rotated_fix
description.pth
images.zip
env